.About {
	position: relative;
	width: 100vw;
	background-color: #FAFAFA;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 4em 0;
	padding-bottom: 6em;
}

.aboutSections {
	display: flex;
	flex-grow: 1;
	width: 100vw;
	max-width: 1200px;
	flex-flow: row nowrap;
	justify-content: center;
	margin-left: 0;
}

.aboutSection {
	margin-top: 1em;
	width: 30vw;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 2em;
}

.aboutSection img {
	padding: 2em;
	height: 220px;
	width: auto;
	margin-bottom: 1em;
}

.aboutCarouselButtons {
	display: none;
	margin-top: 1em;
	width: 100px;
	justify-content: space-between;
	align-items: center;
}

.aboutCarouselButtons button {
	width: 1.4em !important;
	height: 1.4em !important;
	border: 2px solid #00609B;
	color: #00609B;
	padding: 0;
	border-radius: 1em;
	cursor: pointer;
}

.aboutCarouselButtons button.active {
	background-color: #00609B;
	color: white;
}

.aboutCarouselButtons button:hover:not(.active) {
	background-color: #F09819;
	border-color: #F09819;
	color: white;
}

#LandingPage___Desktop>.watchVideoBtn {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	border: none;
	background-image: linear-gradient( to bottom right, rgb(85, 85, 85), black);
	;
	height: 4em;
	width: 18em;
	color: white;
	text-transform: uppercase;
	margin-top: -2em;
	margin-left: -9em;
	position: absolute;
	left: 50%;
	padding: 0;
}

#LandingPage___Desktop>.watchVideoBtn>* {
	margin: 0 .5em;
}

#LandingPage___Desktop>.watchVideoBtn svg {
	fill: white;
	height: 2em;
}

#LandingPage___Desktop>.watchVideoBtn:hover {
	background-image: linear-gradient( to bottom right, #F09819, #FF512F);
}

.aboutSection img::-moz-selection {
	background-color: none !important;
}

.aboutSection img::selection {
	background-color: none !important;
}

.About .goToSurveyButton {
	position: absolute;
	bottom: -2em;
	background-image: linear-gradient( to bottom right, #FF512F, #F09819);
	color: white;
	fill: white;
	display: flex;
	flex-flow: row;
	align-items: center;
	padding: 1em 2em;
	border-radius: 5px;
	transform: scale(1);
	transition: transform 0.5s;
	text-transform: uppercase;
}

.About .goToSurveyButton:hover {
	transform: scale(1.05);
	transition: transform 0.5s;
}

.About .goToSurveyButton svg{
	height: 1em;
	width: auto;
}

#wink{
	height: 2em;
}

.About .goToSurveyButton>* {
	margin: 0 .5em;
}

@media only screen and (max-width: 400px) {
	.About h2 {
		font-size: 1em;
	}
}

@media only screen and (orientation: landscape) {
	.aboutSections {
		margin-left: unset !important;
	}
}

@media only screen and (orientation: portrait) {
	.aboutCarouselButtons {
		display: flex;
	}
	.aboutSections {
		width: 300vw;
		max-width: unset;
		margin-left: 0;
		align-self: flex-start;
	}
	.aboutSection {
		width: 100vw;
	}
}