header{
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  left: 0;
  width: 100%;
  height: 5em;
  padding: 1em;
  z-index: 100;
  background-image: linear-gradient( to bottom right, #00609B, #103F69);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header .Logo{
  height: 2em;
}

header button{
  text-transform: uppercase;
  background-color: white;
  border: none;
  color: #103F69;
}

.nav-up {
  top: -5em;
}

@media only screen and (max-width: 500px){
  header button {
    padding: 1em !important;
  }
}