#Home {
	position: relative;
	width: 100vw;
	height: 100vh;
	min-height: 500px;
	max-height: 900px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	color: white;
	overflow: hidden;
	background-image: linear-gradient( to bottom right, #FF512F, #F09819);
}

#Home h1 {
	font-size: 1.8em;
	margin-bottom: .2em;
}

#Home h2 {
	font-size: 1em;
	margin-bottom: 2em;
	font-weight: 300;
}

#Home p {
	color: white;
	text-transform: uppercase;
	font-weight: 300;
}

/***************
** BACKGROUND **
***************/

#Home .background {
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row;
	overflow: hidden;
}

#Home .background>* {
	width: 50%;
	height: 100%;
	z-index: 0;
}

#Home .background>.left {
	background-image: linear-gradient( to bottom right, #00609B, #103F69);
}

#Home .background>.right {
	background-image: linear-gradient( to bottom right, #FF512F, #F09819);
}

/*****************
* PAGE CONTENT ***
*****************/

#Home>.pageContent {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	z-index: 1;
	max-width: 1200px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#HomeLeft, #HomeRight {
	font-size: 1em;
	width: 50%;
	max-width: 600px;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	padding: 2em;
}

/***************
* HOME LEFT  ***
***************/

#HomeLeft {
	justify-content: center;
}

#HomeLeft>.Logo {
	width: 100%;
	max-width: 300px;
	margin-bottom: 4em;
}

@keyframes fadeinFromLeft {
	0% {
		opacity: 0;
		left: -100%;
	}
	25% {
		left: -5%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

#HomeLeft h1 {
	position: relative;
	opacity: 0;
	left: -100%;
	animation: fadeinFromLeft 1s ease-out forwards;
}

@keyframes fadeinFromRight {
	0% {
		opacity: 0;
		right: -100%;
	}
	25% {
		right: -5%;
	}
	100% {
		opacity: 1;
		right: 0;
	}
}

#HomeLeft h2 {
	position: relative;
	text-transform: none;
	max-width: 300px;
	opacity: 0;
	right: -100%;
	animation: fadeinFromRight 1s ease-out forwards;
	animation-delay: .5s;
}

#HomeLeft button {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#HomeLeft button:hover {
	background-color: white;
}

#HomeLeft button p {
	color: white;
	font-weight: 400;
}

#HomeLeft button:hover p {
	color: #00609B;
}

#HomeLeft button .videoIcon {
	fill: white;
	margin-right: 1em;
	height: 2.5em;
}

#HomeLeft button:hover .videoIcon {
	fill: #00609B;
}

/***************
/* HOME RIGHT **
***************/

#HomeRight {
	justify-content: space-between;
	align-items: flex-start;
}

#HomeRight .HomeRightTop {
	flex-grow: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

#HomeRight .HomeRightTop>div>p {
	text-align: center;
	white-space: nowrap;
}

#HomeRight .HomeRightTop>div>p:nth-of-type(2) {
	font-size: 1.75em;
}

#HomeRight .HomeRightTop>div>p:nth-of-type(3) {
	font-size: 1.4em;
}

#HomeRight .HomeRightTop>div>p span {
	font-weight: 600;
	letter-spacing: 1px;
}

.HomeRightTop>* {
	margin: 0.5em 0 !important;
	width: 100%;
}

.HomeRightTop .inputField {
	border-radius: .8em;
	justify-content: space-between;
	min-height: 4em;
}

.HomeRightTop .inputField>input {
	width: 100%;
	font-size: 16px;
	padding: 0 0.5em;
	font-style: italic;
}

.HomeRightTop .inputField>input, select:focus{
	font-size: 16px;
}

.HomeRightTop .inputField>input:focus {
	outline: none;
}

@keyframes popScale {
	0% {
		opacity: 0;
		transform: scale(0.75);
	}
	25% {
		opacity: 1;
		transform: scale(1.05);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

#HomeRight .HomeRightTop button {
	border: none;
	border-radius: .6em;
	transition: background-image 0.5s ease;
	background-image: linear-gradient( to bottom right, #00609B, #103F69);
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	padding: .5em 1em !important;
	position: relative;
	opacity: 0;
	transform: scale(1);
	animation: popScale .5s ease-out forwards;
	animation-delay: 1.2s;
}

#HomeRight .HomeRightTop button p {
	color: white;
	font-weight: 400;
	white-space: nowrap;
	text-transform: uppercase !important;
}

#HomeRight .HomeRightTop button>* {
	margin: .3em;
}

#HomeRight .HomeRightTop button:hover {
	background-image: linear-gradient( to bottom right, rgb(0, 135, 219), #00609B);
	color: #103F69;
	cursor: pointer;
}

#HomeRight .HomeRightTop .inputCheckbox {
	background-color: unset !important;
	font-size: .8em;
	font-weight: 300;
	text-align: right;
	justify-content: center;
}

#HomeRight .HomeRightTop .inputCheckbox label {
	padding-right: 1em;
}

#HomeRight .HomeRightTop .inputCheckbox input[type="checkbox"] {
	height: 2em;
	width: 2em;
	border-radius: 2em;
	-webkit-appearance: unset;
	background-color: white;
	cursor: pointer;
}

#HomeRight .HomeRightTop .inputCheckbox input[type="checkbox"]:checked {
	background-image: linear-gradient( to bottom right, rgb(0, 135, 219), #00609B);
	border: 4px solid white;
}

#HomeRight .HomeRightTop .inputCheckbox a {
	color: white;
}

#HomeRight .HomeRightTop .inputCheckbox a:hover {
	background-color: #FF512F;
}

.HomeRightTop p {
	font-weight: 400;
	text-transform: none !important;
	text-align: justify;
}

#errorMsg {
	position: fixed;
	z-index: 100;
	bottom: -20vh;
	opacity: 0;
	right: 5vw;
	width: 90vw;
	background-color: #FF512F;
	color: white;
	border-radius: 1em;
	padding: 1em;
	box-shadow: 5px 5px 5px #0e0e0e15;
}

#errorMsg p {
	white-space: normal !important;
}

#signUpResponse {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#signUpResponse h2 {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 0 !important;
	text-align: center;
}

#signUpResponse p {
	font-size: 2em !important;
	text-transform: uppercase !important;
}

/*PHONE MOCKUP*/

#phone_mockup {
	position: relative;
	height: 100vh;
	width: auto;
	max-height: 600px;
}

@keyframes fadeinFromBottom {
	0% {
		opacity: 0;
		bottom: -25%;
	}
	25% {
		opacity: 1;
		bottom: -5%;
	}
	100% {
		opacity: 1;
		bottom: 0;
	}
}

#phone_mockup>img {
	position: relative;
	height: 100%;
	opacity: 0;
	bottom: 0;
	animation: fadeinFromBottom .5s ease-out forwards;
	animation-delay: .5s;
}

.featureBubble {
	position: absolute;
	height: 4em;
	width: 20em;
	bottom: 45%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	display: none;
}

.featureBubble:nth-of-type(2) {
	bottom: 30%;
}

.featureBubble:nth-of-type(3) {
	bottom: 15%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1111px) {
	#HomeLeft {
		font-size: .8em;
	}
}

@media only screen and (max-width: 892px) {
	#HomeRight button {
		padding: 1em 0.6em !important;
	}
}

@media only screen and (orientation: landscape) and (max-width: 1010px) {
	#HomeRight .HomeRightTop button div {
		flex: 0 0 100%;
		order: 1;
	}
}

@media only screen and (max-width: 1050px) {
	#HomeRight {
		font-size: .8em;
	}
}

@media only screen and (max-width: 900px) and (max-height: 600px) {
	#HomeLeft .Logo {
		margin-bottom: 2em;
	}
}

@media only screen and (max-width: 900px) and (max-height: 550px) {
	#HomeLeft button {
		display: none;
	}
	#HomeLeft h2 {
		margin-bottom: 0;
	}
	#HomeLeft {
		padding-bottom: 0;
	}
	#Home .background>.left {
		height: 47% !important;
	}
}

@media only screen and (max-width: 900px) {
	#HomeRight .HomeRightTop>div>p, #HomeRight .HomeRightTop .inputCheckbox {
		text-align: left;
	}
	#HomeRight .HomeRightTop {
		font-size: .8em;
	}
	#Home>.pageContent {
		align-items: flex-start;
		flex-flow: column;
		justify-content: center;
		padding: 0 8vw;
	}
	#Home .background {
		width: 100%;
	}
	#Home .background>.left {
		width: 100%;
		height: 53%;
		transform: rotate(-2deg) scale(1.1) translateY(-.5em);
		;
	}
	#HomeLeft, #HomeRight {
		height: unset;
		width: 100%;
	}
	#HomeRight {
		font-size: 1em;
	}
	#phone_mockup {
		position: absolute;
		right: 10vw;
	}
	#signUpResponse {
		height: 34vh;
	}
}

@media only screen and (max-width: 800px) {
	#HomeLeft h1 {}
	#HomeRight button svg {
		display: none;
	}
	#Home>.pageContent {
		padding: 0 2em;
	}
	#phone_mockup {
		right: 2em;
	}
}

@media only screen and (max-width: 700px) {
	#phone_mockup {
		height: 80%;
	}
}

@media only screen and (orientation: landscape) and (max-width: 812px) {
	#Home .pageContent {
		font-size: 0.8em;
	}
	#Home .Logo {
		width: 20em;
	}
}

@media only screen and (orientation: portrait) and (max-width: 700px) {
	#Home {
		height: unset;
		max-height: unset;
		padding-bottom: 2em;
	}
	#Home .background {
		flex-flow: column;
	}
	#Home .background>* {
		width: 100%;
		height: 50%;
	}
	#Home .pageContent {
		position: relative;
		flex-flow: column;
		justify-content: flex-start;
		align-items: center;
	}
	#HomeLeft, #HomeRight {
		height: unset;
	}
	#HomeLeft {
		padding-top: 4em;
		width: 100vw;
		max-width: unset;
		align-items: center;
		text-align: center;
		order: 0;
	}
	#HomeLeft>*:not(button) {
		margin-bottom: 1em !important;
	}
	#phone_mockup {
		order: 1;
		position: relative;
		left: unset;
		right: unset;
	}
	#Home h2 {
		margin-bottom: 0;
	}
	#HomeRight {
		height: unset;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		padding: 2em 1em 0 1em;
		order: 0;
		width: 100%;
		max-width: 344px;
	}
	.HomeRightTop {
		padding: 0 0 1em 0 !important;
		width: 100%;
	}
	#HomeRight .HomeRightTop>div>p {
		text-align: center;
	}
	.appStoreBadges {
		width: 100%;
		flex-flow: row !important;
		align-items: center;
		justify-content: center;
	}
	.appStoreBadges a:nth-of-type(1) .appBadge {
		padding-right: 1em;
	}
	.appStoreBadges .appBadge {
		max-height: 3em;
		max-width: 45vw;
		width: unset !important;
	}
	#Home .background .left {
		height: 300px;
		transform: rotate(-2deg) scale(1.1);
	}
	#Home .background .right {
		height: 100vh;
	}
	#signUpResponse {
		height: unset;
	}
}

@media only screen and (max-height: 350px) {
	#Home .pageContent {
		position: relative;
		flex-flow: row;
		justify-content: flex-start;
		align-items: center;
	}
	#phone_mockup {
		display: none;
	}
	#Home .background>.left {
		width: 50%;
		height: 100% !important;
		transform: unset;
	}
}

/*This part aims to fix the issue of changing aspect-ratio on mobiles, when soft (virtual) keyboard comes up*/

@media only screen and (max-width: 500px) and (max-height: 520px) {
	#Home {
		max-height: unset;
		min-height: 400px;
	}
	#Home .pageContent {
		flex-flow: column;
	}
	#phone_mockup {
		display: none !important;
	}
	#HomeLeft, #HomeRight {
		align-items: center;
		text-align: center;
	}
	#Home .background .left{
		width: 100%;
		height: 45% !important;
	}
	.HomeRightTop p{
		text-align: center !important;
	}
}

@media only screen and (max-width: 500px) {
	#HomeRight .inputField>input{
		background: white;
    padding: .5em;
    border-radius: .6em;
    margin-bottom: .5em;
	}
	#HomeRight .inputField{
		flex-flow: column;
		background: none;
	}
	#HomeRight .HomeRightTop button{
		width: 100%;
	}
}

@media only screen and (orientation: landscape) and (max-width: 850px) {
	.aboutSections {
		width: 300vw !important;
		max-width: unset !important;
		margin-left: 0 !important;
		align-self: flex-start !important;
	}
	.aboutSection {
		width: 100vw !important;
	}
	.aboutCarouselButtons {
		display: flex !important;
	}
	#HomeRight .HomeRightTop {
		font-size: .8em;
		max-width: 50% !important;
	}

}