.Intro{
  width: 100vw;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 0;
}

#bm{
	width: 100%;
	cursor: pointer;
}

.Intro .Accordion{
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	padding: 4em 2em;
}

.Intro .Accordion>*{
	width: 50%;
	padding: 2em;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
}

.Intro .titles a{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2em;
	padding: .5em;
	opacity: .3;
	transition: font-size .2s;
}
.Intro .titles a.active{
	font-size: 1.6em;
	opacity: 1;
}
.Intro .titles a:not(.active):hover{
	color: #FF512F;
	opacity: 1;
	cursor: pointer;
}

.Intro .texts p:not(.active){
	display: none;
}

@media only screen and (max-width: 800px){
	.Intro .Accordion{
		flex-flow: column;
	}
	.Intro .Accordion>*{
		width: 100%;
	}
	.Intro .Accordion .titles{
		flex-flow: row;
		align-items: center;
		justify-content: space-evenly;
		font-size: .8em;
	}
}