.mediaViewInfo {
	--web-view-name: LandingPage - Desktop;
	--web-view-id: LandingPage___Desktop;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

:root {
	--web-view-ids: LandingPage___Desktop;
}

body, html{
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Montserrat', sans-serif;
}

#LandingPage___Desktop {
	width: 100vw;
	--web-view-name: LandingPage - Desktop;
	--web-view-id: LandingPage___Desktop;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	overflow-x: hidden;
	overflow-y: scroll;
}

h1, h2, h3 {
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

ul{
	list-style: none;
}

button {
	padding: 1em 3em;
	border-radius: 5px;
	-webkit-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
	background: none;
	border: 1px solid white;
	cursor: pointer;
}

button:focus, 
input:focus{
	outline: 0;
}

.inputField, .inputCheckbox {
  width: 100%;
  max-width: 400px;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: .5em;
  border-radius: 5px;
  position: relative;
}

.hiddenElement {
	display: none !important;
}

::-moz-selection{
	background-color: #FF512F ;
	color: white;
}

::selection {
	background-color: #FF512F ;
	color: white;
}