#Partners {
  position: absolute;
  width: 2089.711px;
  height: 676px;
  left: -95.478px;
  top: 2860px;
  overflow: visible;
}
.base_cl {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 637px;
  left: 95.478px;
  top: 0px;
}
#callToActionBtn_round_v2 {
  position: absolute;
  width: 304px;
  height: 121px;
  left: 903.478px;
  top: 555px;
  overflow: visible;
}
#button {
  position: absolute;
  width: 304px;
  height: 93px;
  left: 0px;
  top: 28px;
  overflow: visible;
}
.base_cp {
  position: absolute;
  overflow: visible;
  width: 304px;
  height: 93px;
  left: 0px;
  top: 0px;
}
#p_cq {
  position: absolute;
  left: 57px;
  top: 31px;
  overflow: visible;
  width: 205px;
  white-space: nowrap;
  line-height: 35px;
  margin-top: -4px;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  color: rgba(255,255,255,1);
  letter-spacing: 0.5px;
}
#p_cr {
  position: absolute;
  left: 24px;
  top: 0px;
  overflow: visible;
  width: 257px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
  letter-spacing: 0.5px;
}
#callToActionBtn_round {
  position: absolute;
  width: 676px;
  height: 93px;
  left: 717.478px;
  top: 583px;
  display: none;
  overflow: visible;
}
.Rectangle_26_cu {
  position: absolute;
  overflow: visible;
  width: 676px;
  height: 93px;
  left: 0px;
  top: 0px;
}
#don_t_see_your_brand__Join_tou {
  position: absolute;
  left: 43px;
  top: 31px;
  overflow: visible;
  width: 591px;
  white-space: nowrap;
  line-height: 35px;
  margin-top: -4px;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  color: rgba(255,255,255,1);
  letter-spacing: 0.5px;
}
#carousel {
  position: absolute;
  width: 2089.711px;
  height: 231.243px;
  left: 0px;
  top: 259.067px;
  overflow: visible;
}
#ID5 {
  position: absolute;
  width: 208.578px;
  height: 210.168px;
  left: 1881.134px;
  top: 10.368px;
  overflow: visible;
}
#zsalya {
  position: absolute;
  width: 166.633px;
  height: 34.667px;
  left: 21.466px;
  top: 19.232px;
  overflow: visible;
}
.Path_449 {
  overflow: visible;
  position: absolute;
  width: 21.366px;
  height: 27.108px;
  left: 0px;
  top: 8.014px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_450 {
  overflow: visible;
  position: absolute;
  width: 20.91px;
  height: 27.83px;
  left: 30.651px;
  top: 7.654px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_451 {
  overflow: visible;
  position: absolute;
  width: 24.357px;
  height: 35.123px;
  left: 60.22px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_452 {
  overflow: visible;
  position: absolute;
  width: 18.187px;
  height: 27.108px;
  left: 93.951px;
  top: 8.014px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_453 {
  overflow: visible;
  position: absolute;
  width: 20.52px;
  height: 27.108px;
  left: 116.159px;
  top: 8.014px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_454 {
  overflow: visible;
  position: absolute;
  width: 24.357px;
  height: 27.108px;
  left: 143.12px;
  top: 8.014px;
  transform: matrix(1,0,0,1,0,0);
}
#oga {
  position: absolute;
  width: 23.514px;
  height: 93.22px;
  left: 135.973px;
  top: 60.17px;
  overflow: visible;
}
.Path_455 {
  overflow: visible;
  position: absolute;
  width: 23.821px;
  height: 27.83px;
  left: 0.403px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_456 {
  overflow: visible;
  position: absolute;
  width: 22.847px;
  height: 27.849px;
  left: 0.637px;
  top: 33.265px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_457 {
  overflow: visible;
  position: absolute;
  width: 24.358px;
  height: 27.108px;
  left: 0px;
  top: 66.928px;
  transform: matrix(1,0,0,1,0,0);
}
#illustration {
  position: absolute;
  width: 208.578px;
  height: 210.168px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Path_458 {
  overflow: visible;
  position: absolute;
  width: 208.578px;
  height: 155.979px;
  left: 0px;
  top: 54.189px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_459 {
  overflow: visible;
  position: absolute;
  width: 53.066px;
  height: 21.124px;
  left: 121.291px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#eszter_K_browning {
  position: absolute;
  width: 48.993px;
  height: 15.698px;
  left: 122.935px;
  top: 181.82px;
  overflow: visible;
}
#Group_140 {
  position: absolute;
  width: 4.018px;
  height: 5.82px;
  left: 0px;
  top: 0.08px;
  overflow: visible;
}
.Path_460 {
  overflow: visible;
  position: absolute;
  width: 4.018px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_141 {
  position: absolute;
  width: 4.427px;
  height: 5.979px;
  left: 5.541px;
  top: 0px;
  overflow: visible;
}
.Path_461 {
  overflow: visible;
  position: absolute;
  width: 4.427px;
  height: 5.979px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_142 {
  position: absolute;
  width: 4.549px;
  height: 5.82px;
  left: 11.478px;
  top: 0.08px;
  overflow: visible;
}
.Path_462 {
  overflow: visible;
  position: absolute;
  width: 4.549px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_143 {
  position: absolute;
  width: 4.865px;
  height: 5.82px;
  left: 17.349px;
  top: 0.08px;
  overflow: visible;
}
.Path_463 {
  overflow: visible;
  position: absolute;
  width: 4.865px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_144 {
  position: absolute;
  width: 4.017px;
  height: 5.82px;
  left: 23.787px;
  top: 0.08px;
  overflow: visible;
}
.Path_464 {
  overflow: visible;
  position: absolute;
  width: 4.017px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_145 {
  position: absolute;
  width: 4.692px;
  height: 5.82px;
  left: 29.35px;
  top: 0.08px;
  overflow: visible;
}
.Path_465 {
  overflow: visible;
  position: absolute;
  width: 4.692px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_146 {
  position: absolute;
  width: 4.506px;
  height: 5.82px;
  left: 38.693px;
  top: 0.08px;
  overflow: visible;
}
.Path_466 {
  overflow: visible;
  position: absolute;
  width: 4.506px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_147 {
  position: absolute;
  width: 1.487px;
  height: 1.351px;
  left: 44.939px;
  top: 4.593px;
  overflow: visible;
}
.Path_467 {
  overflow: visible;
  position: absolute;
  width: 1.488px;
  height: 1.351px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_148 {
  position: absolute;
  width: 4.509px;
  height: 5.82px;
  left: 0px;
  top: 9.799px;
  overflow: visible;
}
.Path_468 {
  overflow: visible;
  position: absolute;
  width: 4.509px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_149 {
  position: absolute;
  width: 4.693px;
  height: 5.82px;
  left: 6.262px;
  top: 9.799px;
  overflow: visible;
}
.Path_469 {
  overflow: visible;
  position: absolute;
  width: 4.693px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_150 {
  position: absolute;
  width: 5.092px;
  height: 5.979px;
  left: 12.422px;
  top: 9.719px;
  overflow: visible;
}
.Path_470 {
  overflow: visible;
  position: absolute;
  width: 5.093px;
  height: 5.979px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_151 {
  position: absolute;
  width: 6.806px;
  height: 5.82px;
  left: 18.922px;
  top: 9.799px;
  overflow: visible;
}
.Path_471 {
  overflow: visible;
  position: absolute;
  width: 6.806px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_152 {
  position: absolute;
  width: 4.86px;
  height: 5.82px;
  left: 27.316px;
  top: 9.799px;
  overflow: visible;
}
.Path_472 {
  overflow: visible;
  position: absolute;
  width: 4.86px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_153 {
  position: absolute;
  width: 1.399px;
  height: 5.82px;
  left: 34.142px;
  top: 9.799px;
  overflow: visible;
}
.Path_473 {
  overflow: visible;
  position: absolute;
  width: 1.399px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_154 {
  position: absolute;
  width: 4.86px;
  height: 5.82px;
  left: 37.498px;
  top: 9.799px;
  overflow: visible;
}
.Path_474 {
  overflow: visible;
  position: absolute;
  width: 4.86px;
  height: 5.82px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_155 {
  position: absolute;
  width: 4.876px;
  height: 5.984px;
  left: 44.117px;
  top: 9.715px;
  overflow: visible;
}
.Path_475 {
  overflow: visible;
  position: absolute;
  width: 4.876px;
  height: 5.984px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#ID4 {
  position: absolute;
  width: 217.593px;
  height: 208.945px;
  left: 1421.657px;
  top: 19.273px;
  overflow: visible;
}
.Path_442 {
  overflow: visible;
  position: absolute;
  width: 42.174px;
  height: 63.306px;
  left: 0px;
  top: 73.002px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_443 {
  overflow: visible;
  position: absolute;
  width: 47.185px;
  height: 61.394px;
  left: 46.909px;
  top: 74.004px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_444 {
  overflow: visible;
  position: absolute;
  width: 44.087px;
  height: 61.85px;
  left: 164.138px;
  top: 73.548px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_445 {
  overflow: visible;
  position: absolute;
  width: 44.181px;
  height: 61.981px;
  left: 105.026px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_446 {
  overflow: visible;
  position: absolute;
  width: 47.284px;
  height: 61.525px;
  left: 101.876px;
  top: 147.421px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_447 {
  overflow: visible;
  position: absolute;
  width: 13.593px;
  height: 13.593px;
  left: 204px;
  top: 121.805px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_448 {
  overflow: visible;
  position: absolute;
  width: 61.493px;
  height: 61.492px;
  left: 95.599px;
  top: 73.955px;
  transform: matrix(1,0,0,1,0,0);
}
#ID3 {
  position: absolute;
  width: 182.834px;
  height: 182.833px;
  left: 995.801px;
  top: 29.051px;
  overflow: visible;
}
.Path_945 {
  overflow: visible;
  position: absolute;
  width: 182.834px;
  height: 182.833px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_946 {
  overflow: visible;
  position: absolute;
  width: 63.501px;
  height: 86.508px;
  left: 57.87px;
  top: 46.049px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_947 {
  overflow: visible;
  position: absolute;
  width: 11.217px;
  height: 11.128px;
  left: 45.687px;
  top: 28.165px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_948 {
  overflow: visible;
  position: absolute;
  width: 10.097px;
  height: 11.127px;
  left: 57.663px;
  top: 21.712px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_949 {
  overflow: visible;
  position: absolute;
  width: 9.755px;
  height: 11.197px;
  left: 70.837px;
  top: 17.58px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_950 {
  overflow: visible;
  position: absolute;
  width: 8.659px;
  height: 10.961px;
  left: 84.734px;
  top: 16.319px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_951 {
  overflow: visible;
  position: absolute;
  width: 7.439px;
  height: 11.953px;
  left: 96.881px;
  top: 16.782px;
  transform: matrix(1,0,0,1,0,0);
}
.Rectangle_33 {
  width: 10.905px;
  height: 2.621px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1,0,0,1,104.8919,23.6488) rotate(-72.345deg);
  transform-origin: center;
}
.Path_952 {
  overflow: visible;
  position: absolute;
  width: 11.307px;
  height: 10.964px;
  left: 113.831px;
  top: 22.122px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_953 {
  overflow: visible;
  position: absolute;
  width: 12.457px;
  height: 13.241px;
  left: 123.181px;
  top: 27.923px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_954 {
  overflow: visible;
  position: absolute;
  width: 14.098px;
  height: 14.196px;
  left: 36.297px;
  top: 133.017px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_955 {
  overflow: visible;
  position: absolute;
  width: 12.168px;
  height: 13.23px;
  left: 47.63px;
  top: 141.392px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_956 {
  overflow: visible;
  position: absolute;
  width: 10.898px;
  height: 13.381px;
  left: 58.569px;
  top: 146.816px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_957 {
  overflow: visible;
  position: absolute;
  width: 9.591px;
  height: 11.665px;
  left: 71.905px;
  top: 150.924px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_958 {
  overflow: visible;
  position: absolute;
  width: 10.499px;
  height: 11.01px;
  left: 84.969px;
  top: 152.743px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_959 {
  overflow: visible;
  position: absolute;
  width: 10.796px;
  height: 11.691px;
  left: 98.146px;
  top: 151.328px;
  transform: matrix(1,0,0,1,0,0);
}
.Rectangle_34 {
  width: 2.622px;
  height: 10.905px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1,0,0,1,111.9988,148.5428) rotate(-20.309deg);
  transform-origin: center;
}
.Path_960 {
  overflow: visible;
  position: absolute;
  width: 11.551px;
  height: 12.458px;
  left: 116.393px;
  top: 142.772px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_961 {
  overflow: visible;
  position: absolute;
  width: 16.045px;
  height: 15.972px;
  left: 126.898px;
  top: 133.035px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_962 {
  overflow: visible;
  position: absolute;
  width: 3.227px;
  height: 3.203px;
  left: 26.621px;
  top: 120.262px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_963 {
  overflow: visible;
  position: absolute;
  width: 3.253px;
  height: 3.155px;
  left: 24.395px;
  top: 115.626px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_964 {
  overflow: visible;
  position: absolute;
  width: 5.231px;
  height: 4.448px;
  left: 19.993px;
  top: 100.549px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_965 {
  overflow: visible;
  position: absolute;
  width: 5.219px;
  height: 4.492px;
  left: 19.268px;
  top: 95.844px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_966 {
  overflow: visible;
  position: absolute;
  width: 5.283px;
  height: 5.673px;
  left: 18.793px;
  top: 89.675px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_967 {
  overflow: visible;
  position: absolute;
  width: 5.372px;
  height: 5.752px;
  left: 18.8px;
  top: 83.37px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_968 {
  overflow: visible;
  position: absolute;
  width: 5.402px;
  height: 4.436px;
  left: 19.219px;
  top: 78.451px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_969 {
  overflow: visible;
  position: absolute;
  width: 5.846px;
  height: 5.198px;
  left: 19.919px;
  top: 73.357px;
  transform: matrix(1,0,0,1,0,0);
}
.Rectangle_35 {
  width: 1.221px;
  height: 5.08px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1,0,0,1,23.064,69.9288) rotate(-75.076deg);
  transform-origin: center;
}
.Path_970 {
  overflow: visible;
  position: absolute;
  width: 5.666px;
  height: 4.333px;
  left: 21.514px;
  top: 66.584px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_971 {
  overflow: visible;
  position: absolute;
  width: 5.777px;
  height: 4.538px;
  left: 22.915px;
  top: 62.05px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_972 {
  overflow: visible;
  position: absolute;
  width: 3.158px;
  height: 3.246px;
  left: 29.548px;
  top: 51.547px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_973 {
  overflow: visible;
  position: absolute;
  width: 3.125px;
  height: 3.251px;
  left: 31.434px;
  top: 48.754px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_974 {
  overflow: visible;
  position: absolute;
  width: 3.176px;
  height: 3.235px;
  left: 146.759px;
  top: 51.837px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_975 {
  overflow: visible;
  position: absolute;
  width: 3.22px;
  height: 3.205px;
  left: 149.318px;
  top: 56.33px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_976 {
  overflow: visible;
  position: absolute;
  width: 5.238px;
  height: 4.771px;
  left: 152.886px;
  top: 69.82px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_977 {
  overflow: visible;
  position: absolute;
  width: 5.564px;
  height: 4.8px;
  left: 153.623px;
  top: 74.887px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_978 {
  overflow: visible;
  position: absolute;
  width: 5.314px;
  height: 4.689px;
  left: 154.575px;
  top: 79.253px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_979 {
  overflow: visible;
  position: absolute;
  width: 5.168px;
  height: 4.138px;
  left: 155.111px;
  top: 84.058px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_980 {
  overflow: visible;
  position: absolute;
  width: 5.134px;
  height: 3.587px;
  left: 155.288px;
  top: 88.773px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_981 {
  overflow: visible;
  position: absolute;
  width: 5.369px;
  height: 4.594px;
  left: 154.997px;
  top: 92.625px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_982 {
  overflow: visible;
  position: absolute;
  width: 5.235px;
  height: 4.271px;
  left: 154.545px;
  top: 97.512px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_983 {
  overflow: visible;
  position: absolute;
  width: 3.27px;
  height: 3.116px;
  left: 153.446px;
  top: 110.857px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_984 {
  overflow: visible;
  position: absolute;
  width: 3.264px;
  height: 3.158px;
  left: 152.274px;
  top: 113.99px;
  transform: matrix(1,0,0,1,0,0);
}
#ID2 {
  position: absolute;
  width: 276.445px;
  height: 210.157px;
  left: 477.087px;
  top: 0px;
  overflow: visible;
}
#AUTHENTIC_BANGLADESHI_CUISINE {
  position: absolute;
  left: 2.259px;
  top: 191.412px;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  line-height: 2px;
  margin-top: -0.5px;
  text-align: center;
  font-family: UnnaVFBeta-Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 1px;
  color: rgba(16,63,105,1);
  letter-spacing: 4.5px;
}
#graphics {
  position: absolute;
  width: 191.665px;
  height: 116.154px;
  left: 37.865px;
  top: 65.506px;
  overflow: visible;
}
#Group_99 {
  position: absolute;
  width: 42.981px;
  height: 31.342px;
  left: 119.754px;
  top: 16.641px;
  overflow: visible;
}
#Group_98 {
  position: absolute;
  width: 42.981px;
  height: 31.342px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_94 {
  position: absolute;
  width: 42.981px;
  height: 7.636px;
  left: 0px;
  top: 23.706px;
  overflow: visible;
}
.Path_363 {
  overflow: visible;
  position: absolute;
  width: 42.98px;
  height: 7.636px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_95 {
  position: absolute;
  width: 37.398px;
  height: 22.985px;
  left: 2.765px;
  top: 3.822px;
  overflow: visible;
}
.Path_364 {
  overflow: visible;
  position: absolute;
  width: 37.398px;
  height: 22.985px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_96 {
  position: absolute;
  width: 6.036px;
  height: 3.406px;
  left: 18.674px;
  top: 0px;
  overflow: visible;
}
.Path_365 {
  overflow: visible;
  position: absolute;
  width: 6.036px;
  height: 3.406px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_97 {
  position: absolute;
  width: 4.362px;
  height: 5.779px;
  left: 18.882px;
  top: 0.601px;
  overflow: visible;
}
.Path_366 {
  overflow: visible;
  position: absolute;
  width: 4.362px;
  height: 5.779px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_113 {
  position: absolute;
  width: 191.665px;
  height: 116.154px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_112 {
  position: absolute;
  width: 191.665px;
  height: 116.154px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_116 {
  position: absolute;
  width: 275.659px;
  height: 129.731px;
  left: 0.785px;
  top: 31.524px;
  overflow: visible;
}
#Group_115 {
  position: absolute;
  width: 275.659px;
  height: 129.731px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_114 {
  position: absolute;
  width: 275.659px;
  height: 129.731px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Path_377 {
  overflow: visible;
  position: absolute;
  width: 20.237px;
  height: 21.484px;
  left: 0px;
  top: 108.247px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_378 {
  overflow: visible;
  position: absolute;
  width: 22.753px;
  height: 20.333px;
  left: 5.879px;
  top: 80.035px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_379 {
  overflow: visible;
  position: absolute;
  width: 28.303px;
  height: 28.718px;
  left: 17.642px;
  top: 42.296px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_380 {
  overflow: visible;
  position: absolute;
  width: 21.773px;
  height: 21.983px;
  left: 59.928px;
  top: 17.001px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_381 {
  overflow: visible;
  position: absolute;
  width: 22.093px;
  height: 20.559px;
  left: 87.288px;
  top: 6.107px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_382 {
  overflow: visible;
  position: absolute;
  width: 10.029px;
  height: 19.041px;
  left: 117.051px;
  top: 0.85px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_383 {
  overflow: visible;
  position: absolute;
  width: 16.807px;
  height: 19.038px;
  left: 137.781px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_384 {
  overflow: visible;
  position: absolute;
  width: 11.977px;
  height: 19.588px;
  left: 163.318px;
  top: 3.324px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_385 {
  overflow: visible;
  position: absolute;
  width: 18.693px;
  height: 18.994px;
  left: 181.593px;
  top: 10.972px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_386 {
  overflow: visible;
  position: absolute;
  width: 26.846px;
  height: 26.488px;
  left: 202.98px;
  top: 21.643px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_387 {
  overflow: visible;
  position: absolute;
  width: 21.674px;
  height: 24.486px;
  left: 236.168px;
  top: 57.199px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_388 {
  overflow: visible;
  position: absolute;
  width: 21.117px;
  height: 20.374px;
  left: 248.913px;
  top: 88.314px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_389 {
  overflow: visible;
  position: absolute;
  width: 19.215px;
  height: 11.966px;
  left: 256.444px;
  top: 116.302px;
  transform: matrix(1,0,0,1,0,0);
}
#THE {
  position: absolute;
  left: 113.492px;
  top: 0px;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -2px;
  text-align: center;
  font-family: UnnaVFBeta-Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(16,63,105,1);
  letter-spacing: 1.5px;
}
#Group_117 {
  position: absolute;
  width: 276.223px;
  height: 3.067px;
  left: 0px;
  top: 181.502px;
  overflow: visible;
}
.Path_390 {
  overflow: visible;
  position: absolute;
  width: 276.223px;
  height: 3.067px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_118 {
  position: absolute;
  width: 259.012px;
  height: 3.077px;
  left: 8.605px;
  top: 207.08px;
  overflow: visible;
}
.Path_391 {
  overflow: visible;
  position: absolute;
  width: 259.012px;
  height: 3.077px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#ID1 {
  position: absolute;
  width: 235.655px;
  height: 211.97px;
  left: 0px;
  top: 19.273px;
  overflow: visible;
}
.round_container {
  display: none;
  position: absolute;
  overflow: visible;
  width: 207.98px;
  height: 207.98px;
  left: 15.673px;
  top: -24.352px;
}
#Group_531 {
  position: absolute;
  width: 85.417px;
  height: 64.2px;
  left: 74.384px;
  top: 0px;
  overflow: visible;
}
.Path_916 {
  overflow: visible;
  position: absolute;
  width: 29.484px;
  height: 63.626px;
  left: 55.933px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_917 {
  overflow: visible;
  position: absolute;
  width: 35.663px;
  height: 63.961px;
  left: 0px;
  top: 0.239px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_532 {
  position: absolute;
  width: 68.418px;
  height: 38.256px;
  left: 84.638px;
  top: 64.126px;
  display: none;
  overflow: visible;
}
.Ellipse_71 {
  position: absolute;
  overflow: visible;
  width: 16.747px;
  height: 16.747px;
  left: 0px;
  top: 0px;
}
.Ellipse_72 {
  position: absolute;
  overflow: visible;
  width: 16.747px;
  height: 16.747px;
  left: 51.671px;
  top: 0px;
}
.Ellipse_73 {
  position: absolute;
  overflow: visible;
  width: 16.747px;
  height: 16.747px;
  left: 24.681px;
  top: 21.509px;
}
#Group_533 {
  position: absolute;
  width: 191.287px;
  height: 14.76px;
  left: 18.342px;
  top: 24.017px;
  display: none;
  overflow: visible;
}
.Path_918 {
  overflow: visible;
  position: absolute;
  width: 12.896px;
  height: 14.68px;
  left: 0px;
  top: 0.08px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_919 {
  overflow: visible;
  position: absolute;
  width: 0.494px;
  height: 14.68px;
  left: 17.143px;
  top: 0.08px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_920 {
  overflow: visible;
  position: absolute;
  width: 8.134px;
  height: 14.68px;
  left: 21.885px;
  top: 0.08px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_921 {
  overflow: visible;
  position: absolute;
  width: 10.117px;
  height: 14.68px;
  left: 32.977px;
  top: 0.08px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_922 {
  overflow: visible;
  position: absolute;
  width: 9.805px;
  height: 9.84px;
  left: 96.745px;
  top: 3.412px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_923 {
  overflow: visible;
  position: absolute;
  width: 10.515px;
  height: 14.68px;
  left: 156.472px;
  top: 0.08px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_924 {
  overflow: visible;
  position: absolute;
  width: 8.428px;
  height: 14.68px;
  left: 169.823px;
  top: 0.08px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_925 {
  overflow: visible;
  position: absolute;
  width: 11.207px;
  height: 14.76px;
  left: 180.08px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_546 {
  position: absolute;
  width: 235.655px;
  height: 59.677px;
  left: 0px;
  top: 152.293px;
  overflow: visible;
}
#Group_534 {
  position: absolute;
  width: 69.88px;
  height: 11.263px;
  left: 165.775px;
  top: 48.414px;
  overflow: visible;
}
.Path_926 {
  overflow: visible;
  position: absolute;
  width: 9.844px;
  height: 11.202px;
  left: 0px;
  top: 0.06px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_927 {
  overflow: visible;
  position: absolute;
  width: 0.379px;
  height: 11.202px;
  left: 13.08px;
  top: 0.06px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_928 {
  overflow: visible;
  position: absolute;
  width: 6.207px;
  height: 11.202px;
  left: 16.698px;
  top: 0.06px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_929 {
  overflow: visible;
  position: absolute;
  width: 7.722px;
  height: 11.202px;
  left: 25.159px;
  top: 0.06px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_930 {
  overflow: visible;
  position: absolute;
  width: 7.479px;
  height: 7.51px;
  left: 34.256px;
  top: 2.603px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_931 {
  overflow: visible;
  position: absolute;
  width: 8.024px;
  height: 11.202px;
  left: 43.31px;
  top: 0.06px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_932 {
  overflow: visible;
  position: absolute;
  width: 6.436px;
  height: 11.202px;
  left: 53.498px;
  top: 0.06px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_933 {
  overflow: visible;
  position: absolute;
  width: 8.556px;
  height: 11.263px;
  left: 61.324px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_545 {
  position: absolute;
  width: 202.007px;
  height: 54.55px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_535 {
  position: absolute;
  width: 42.482px;
  height: 52.76px;
  left: 0px;
  top: 1.79px;
  overflow: visible;
}
.Path_934 {
  overflow: visible;
  position: absolute;
  width: 42.482px;
  height: 52.76px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_536 {
  position: absolute;
  width: 21.033px;
  height: 18.305px;
  left: 45.441px;
  top: 20.883px;
  overflow: visible;
}
.Path_935 {
  overflow: visible;
  position: absolute;
  width: 21.033px;
  height: 18.305px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_537 {
  position: absolute;
  width: 21.066px;
  height: 30.008px;
  left: 65.53px;
  top: 6.634px;
  overflow: visible;
}
.Path_936 {
  overflow: visible;
  position: absolute;
  width: 21.066px;
  height: 30.008px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_538 {
  position: absolute;
  width: 23.888px;
  height: 17.8px;
  left: 84.907px;
  top: 21.187px;
  overflow: visible;
}
.Path_937 {
  overflow: visible;
  position: absolute;
  width: 23.888px;
  height: 17.8px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_539 {
  position: absolute;
  width: 23.994px;
  height: 31.363px;
  left: 107.49px;
  top: 9.578px;
  overflow: visible;
}
.Path_938 {
  overflow: visible;
  position: absolute;
  width: 23.994px;
  height: 31.363px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_540 {
  position: absolute;
  width: 21.669px;
  height: 18.054px;
  left: 129.933px;
  top: 22.735px;
  overflow: visible;
}
.Path_939 {
  overflow: visible;
  position: absolute;
  width: 21.669px;
  height: 18.054px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_541 {
  position: absolute;
  width: 12.336px;
  height: 31.873px;
  left: 150.878px;
  top: 5.709px;
  overflow: visible;
}
.Path_940 {
  overflow: visible;
  position: absolute;
  width: 12.336px;
  height: 31.873px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_542 {
  position: absolute;
  width: 12.964px;
  height: 29.802px;
  left: 161.515px;
  top: 5.405px;
  overflow: visible;
}
.Path_941 {
  overflow: visible;
  position: absolute;
  width: 12.964px;
  height: 29.802px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_543 {
  position: absolute;
  width: 17.726px;
  height: 18.182px;
  left: 173.346px;
  top: 11.858px;
  overflow: visible;
}
.Path_942 {
  overflow: visible;
  position: absolute;
  width: 17.726px;
  height: 18.182px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_544 {
  position: absolute;
  width: 13.411px;
  height: 22.735px;
  left: 188.596px;
  top: 0px;
  overflow: visible;
}
.Path_943 {
  overflow: visible;
  position: absolute;
  width: 13.411px;
  height: 22.735px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.Path_944 {
  overflow: visible;
  position: absolute;
  width: 125.748px;
  height: 65.321px;
  left: 54.168px;
  top: 81.376px;
  transform: matrix(1,0,0,1,0,0);
}
#h2 {
  position: absolute;
  left: 752.478px;
  top: 100px;
  overflow: visible;
  width: 607px;
  white-space: nowrap;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  color: rgba(16,63,105,1);
  letter-spacing: 1px;
}