.Quotes{
  width: 100vw;
	max-width: 1200px;
  height: 200px;
	color: white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding-top: 4em;
}

.Quotes .quotesCarousel{
	width: 100vw;
	max-width: 1200px;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.Quotes .quotesCarousel .quotesList{
	margin-left: 0;
	width: 400%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	overflow-y: scroll;
}

.Quotes .quotesList li{
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.Quotes .quotesList li p{
	width: 50vw;
	max-width: 310px;
	font-size: 1em;
}
.Quotes .quotesList li.moving p{
	animation: pulser 8s ease-out both;
	animation-iteration-count: infinite;
}

@keyframes pulser {
	0%,100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}

/* CONTROLS */

.Quotes .quotesCarousel .quoteCarouselControls{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

.Quotes .quotesCarousel .quoteStepperBtns{
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.Quotes .quoteStepperBtns a{
	margin-left: 1em;
	padding: 1em;
	cursor: pointer;
}

.Quotes .quoteStepperBtns a.nextItem{
	margin-left: unset;
	margin-right: 1em;
}

.Quotes .quoteCarouselButtons{
	margin-top: 1em;
	justify-content: space-between;
	align-items: center;
}

.Quotes .quoteCarouselButtons button{
	width: 2em !important;
	height: 2em !important;
	border: 2px solid white;
	color: white;
	padding: 0;
	margin: 0 .5em;
	border-radius: 1em;
	cursor: pointer;
}

.Quotes .quoteCarouselButtons button.active{
	background-color: white;
	color: white;
}

.Quotes .quoteCarouselButtons button:hover:not(.active){
	background-color: #F09819;
	border-color: #F09819;
	color: white;
}
